@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Pangolin&display=swap');

.content{
	background-color:#04ff00;
	width: 1200px;
	margin:0 auto;
}
img{
	max-height:100%;
	max-width: 100%;
}
.row{
	display: flex;
}
.box{
	width: 100px;
	flex-grow: 1;
	background-color: #1fa634;
	margin: 10px;
}
.col-1{
	flex-grow: 1;
	text-align: center;

}
.col-3{
	flex-grow: 3;
}
p{
	font-family: 'Fira Mono', monospace;
	font-weight: 300;
}
div{
	font-family: 'Pangolin', cursive;
	font-weight: 300;
}
iframe{
	height: 100%;
	width:100%;

}













